---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import WordCard from "../components/WordCard.astro";

const words = await getCollection("words");
words.sort((a, b) => b.data.featured.getTime() - a.data.featured.getTime());
---

<BaseLayout>
    <h1 class="text-2xl font-bold mb-6">All Words</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {
            words.map(({ data }) => (
                <WordCard
                    word={data.word}
                    slug={data.slug}
                    meaning={data.meaning}
                    partOfSpeech={data.partOfSpeech}
                    languages={data.languages}
                    favourite={data.favourite}
                    featured={data.featured}
                />
            ))
        }
    </div>
</BaseLayout>
